In [37]:
import pandas as pd

In [38]:
df = pd.read_csv("CS_Tickets_MSc.csv")

In [39]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16337 entries, 0 to 16336
Data columns (total 26 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   16337 non-null  int64
 1   subject      16337 non-null  object
 2   body         16337 non-null  object
 3   answer       16334 non-null  object
 4   type         16337 non-null  object
 5   department   16337 non-null  object
 6   priority     16337 non-null  object
 7   tag_1        16337 non-null  object
 8   tag_2        16337 non-null  object
 9   tag_3        16337 non-null  object
 10  Unnamed: 10  0 non-null      float64
 11  Unnamed: 11  0 non-null      float64
 12  Unnamed: 12  0 non-null      float64
 13  Unnamed: 13  0 non-null      float64
 14  Unnamed: 14  0 non-null      float64
 15  Unnamed: 15  0 non-null      float64
 16  Unnamed: 16  0 non-null      float64
 17  Unnamed: 17  0 non-null      float64
 18  Unnamed: 18  0 non-null      float64
 19  Unnamed: 19  0 non-null      float64
 20  Unnamed: 20  0 non-null      float64
 21  Unnamed: 21  0 non-null      float64
 22  Unnamed: 22  0 non-null      float64
 23  Unnamed: 23  0 non-null      float64
 24  Unnamed: 24  0 non-null      float64
 25  Unnamed: 25  0 non-null      float64
dtypes: float64(16), int64(1), object(9)
memory usage: 3.2+ MB
None

In [40]:
print(df.isnull().sum())

Unnamed: 0         0
subject            0
body               0
answer             3
type               0
department         0
priority           0
tag_1              0
tag_2              0
tag_3              0
Unnamed: 10    16337
Unnamed: 11    16337
Unnamed: 12    16337
Unnamed: 13    16337
Unnamed: 14    16337
Unnamed: 15    16337
Unnamed: 16    16337
Unnamed: 17    16337
Unnamed: 18    16337
Unnamed: 19    16337
Unnamed: 20    16337
Unnamed: 21    16337
Unnamed: 22    16337
Unnamed: 23    16337
Unnamed: 24    16337
Unnamed: 25    16337
dtype: int64

In [41]:
df.drop(df.columns[10:26], axis=1, inplace=True)
df.drop(df.columns[0], axis=1, inplace=True)

In [42]:
print(df.columns)

Index(['subject', 'body', 'answer', 'type', 'department', 'priority', 'tag_1',
       'tag_2', 'tag_3'],
      dtype='object')

In [43]:
# Convert to Title Case
for col in ['priority', 'type', 'department']:
    df[col] = df[col].str.strip().str.lower().str.title()

In [44]:
df.head()

,subject,body,answer,type,department,priority,tag_1,tag_2,tag_3
0,Account Disruption,"Dear Customer Support Team, I am writing to re...",Thank you for reaching out. We are aware of th...,Incident,Technical Support,High,Account,Disruption,Outage
1,Query About Smart Home System Integration Feat...,"Dear Customer Support Team, I hope this messag...",Thank you for your inquiry. Our products suppo...,Request,Returns And Exchanges,Medium,Product,Feature,Tech Support
2,Inquiry Regarding Invoice Details,"Dear Customer Support Team, I hope this messag...",We appreciate you reaching out with your billi...,Request,Billing And Payments,Low,Billing,Payment,Account
3,Question About Marketing Agency Software Compa...,"Dear Support Team, I hope this message reaches...",Thank you for your inquiry. Our product suppor...,Problem,Sales And Pre-Sales,Medium,Product,Feature,Feedback
4,Feature Query,"Dear Customer Support, I hope this message rea...",Thank you for your inquiry. Please specify whi...,Request,Technical Support,High,Feature,Product,Documentation